In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data_1995 = pd.read_csv('1995_Street_Tree_Census.csv')
data_2005 = pd.read_csv('2005_Street_Tree_Census.csv')
data_2015 = pd.read_csv('2015_Street_Tree_Census.csv')
data_nyc = pd.read_csv('nyc_income_age_ house_cost.csv')
data_pop = pd.read_csv('nyc_zip_borough_neighborhoods_pop.csv')

In [6]:
print("1995-census tract:", len(data_1995.CensusTract_2010.unique()))
print("2005-census tract:", len(data_2005['census tract'].unique()))
print("2015-census tract:", len(data_2015['census tract'].unique()))

1995-census tract: 1311
2005-census tract: 1322
2015-census tract: 1316

In [7]:
print("1995-zipcode:", len(data_1995.Postcode_Original.unique()))
print("2005-zipcode:", len(data_2005['zipcode'].unique()))
print("2015-zipcode:", len(data_2015['postcode'].unique()))

1995-zipcode: 181
2005-zipcode: 188
2015-zipcode: 191

In [8]:
data_1995 = data_1995.rename(columns={'Postcode_Original':'zipcode',
                          'CensusTract_2010':'census_tract',
                          'Borough':'borough',
                          'Address':'address',
                          'RecordId':'tree_id',
                          'Latitude':'latitude',
                          'Longitude':'longitude',
                          'Diameter':'tree_dbh',
                          'Condition':'health',
                          'Spc_Latin':'spc_latin',
                          'Spc_Common':'spc_common'
                          })

In [9]:
data_2005 = data_2005.rename(columns={'census tract':'census_tract',
                          'boroname':'borough',
                          'OBJECTID':'tree_id',
                          'status':'health'
                          })

In [10]:
data_2015 = data_2015.rename(columns={'census tract':'census_tract',
                          'postcode':'zipcode',
                          })

In [11]:
filter_1995 = data_1995[['tree_id','address','borough','zipcode','census_tract',
                        'latitude','longitude','tree_dbh','health',
                        'Wires','Site','Sidewalk_Condition',
                        'Support_Structure','spc_latin','spc_common']]

filter_2005 = data_2005[['tree_id','address','borough','zipcode','census_tract',
                        'latitude','longitude','tree_dbh','health','tree_loc',
                        'pit_type','soil_lvl','vert_other','vert_pgrd', 
                        'vert_tgrd', 'vert_wall', 'horz_blck', 'horz_grate',
                        'horz_plant', 'horz_other', 'sidw_crack','sidw_raise', 
                        'wire_htap','wire_prime', 'wire_2nd', 'wire_other', 
                        'inf_canopy', 'inf_guard','inf_wires', 'inf_paving', 
                        'inf_outlet', 'inf_shoes', 'inf_lights','inf_other', 
                        'trunk_dmg','spc_latin','spc_common']]


filter_2015 = data_2015[['tree_id','address','borough','zipcode','census_tract',
                        'latitude','longitude','tree_dbh','status','curb_loc',
                        'health','guards', 'sidewalk', 'user_type', 'problems', 
                        'root_stone','root_grate', 'root_other', 'trunk_wire', 
                        'trnk_light', 'trnk_other','brch_light', 'brch_shoe', 
                        'brch_other','spc_latin','spc_common']]

In [12]:
filter_1995 = filter_1995[filter_1995.zipcode != 0]
filter_2005 = filter_2005[filter_2005.zipcode != 0]
filter_2015 = filter_2015[filter_2015.zipcode != 83]

# filter_2015 = filter_2015[~filter_2015.spc_latin.isna()]
# filter_2015 = filter_2015[~filter_2015.spc_common.isna()]

In [220]:
print('filter_1995.shape:',filter_1995.shape)
print('filter_2005.shape:',filter_2005.shape)
print('filter_2015.shape:',filter_2015.shape)

filter_1995.shape: (515085, 15)
filter_2005.shape: (583461, 37)
filter_2015.shape: (682853, 26)

In [115]:
# filter_1995_2 = filter_1995[~filter_1995.census_tract.isna()]
# filter_2005_2 = filter_2005[~filter_2005.census_tract.isna()]
# filter_2015_2 = filter_2015[~filter_2015.census_tract.isna()]

# print('filter_1995.shape:',filter_1995_2.shape)
# print('filter_2005.shape:',filter_2005_2.shape)
# print('filter_2015.shape:',filter_2015_2.shape)

### 1. max common species in different zipcode during three census

In [177]:
zip_max10_spc_2015 = filter_2015.groupby(['zipcode','spc_common']).agg({
    'tree_id':'count'
}).reset_index().sort_values(['zipcode','tree_id'],ascending=False)\
.groupby(['zipcode']).head(10).sort_values(['zipcode','tree_id'],ascending=[True,False])

In [180]:
zip_max10_spc_2005 = filter_2005.groupby(['zipcode','spc_common']).agg({
    'tree_id':'count'
}).reset_index().sort_values(['zipcode','tree_id'],ascending=False)\
.groupby(['zipcode']).head(10).sort_values(['zipcode','tree_id'],ascending=[True,False])

In [181]:
zip_max10_spc_1995 = filter_1995.groupby(['zipcode','spc_common']).agg({
    'tree_id':'count'
}).reset_index().sort_values(['zipcode','tree_id'],ascending=False)\
.groupby(['zipcode']).head(10).sort_values(['zipcode','tree_id'],ascending=[True,False])

In [188]:
zip_max10_spc_1995[zip_max10_spc_1995['zipcode']==10001]

    zipcode            spc_common  tree_id
18    10001         PEAR, CALLERY      184
11    10001      LONDON PLANETREE      153
7     10001           HONEYLOCUST       96
17    10001              OAK, PIN       75
3     10001     CHERRY, CORNELIAN       38
9     10001   LINDEN, LITTLE LEAF       33
5     10001                GINKGO       30
19    10001         PLANTING SITE       25
4     10001         ELM, AMERICAN       22
8     10001  JAPANESE PAGODA TREE       18

In [189]:
zip_max10_spc_2005[zip_max10_spc_2005['zipcode']==10001]

    zipcode            spc_common  tree_id
22    10001         PEAR, CALLERY      188
9     10001           HONEYLOCUST      133
14    10001      LONDON PLANETREE       95
12    10001   LINDEN, LITTLE LEAF       82
18    10001              OAK, PIN       68
29    10001     ZELKOVA, JAPANESE       60
6     10001                GINKGO       23
10    10001  JAPANESE PAGODA TREE       19
4     10001         ELM, AMERICAN       15
28    10001          Unknown Dead       15

In [191]:
zip_max10_spc_2015[zip_max10_spc_2015['zipcode']==10001]

    zipcode         spc_common  tree_id
22    10001        honeylocust      257
5     10001       Callery pear      136
9     10001   Japanese zelkova       75
23    10001  littleleaf linden       66
25    10001            pin oak       64
12    10001            Sophora       46
19    10001             ginkgo       40
1     10001       American elm       37
32    10001         willow oak       27
11    10001   London planetree       21

### 2.tree count in different zipcode during three census

In [199]:
zip_tree_count_1995 = filter_1995.groupby('zipcode').agg({
    'tree_id':'count'
}).reset_index()
zip_tree_count_2005 = filter_2005.groupby('zipcode').agg({
    'tree_id':'count'
}).reset_index()
zip_tree_count_2015 = filter_2015.groupby('zipcode').agg({
    'tree_id':'count'
}).reset_index()

In [204]:
print('1995:10001 tree count:',zip_tree_count_1995[
    zip_tree_count_1995['zipcode']==10001].tree_id.values[0])
print('2005:10001 tree count:',zip_tree_count_2005[
    zip_tree_count_2005['zipcode']==10001].tree_id.values[0])
print('2015:10001 tree count:',zip_tree_count_2015[
    zip_tree_count_2015['zipcode']==10001].tree_id.values[0])

1995:10001 tree count: 795
2005:10001 tree count: 777
2015:10001 tree count: 850

### 3.tree condition in different zipcode during three census

In [255]:
#Stump => Dead
filter_1995['health'] = filter_1995['health'].apply(
    lambda x:'Dead' if x =='Stump' else x)
#Excellent => Good
filter_1995['health'] = filter_1995['health'].apply(
    lambda x:'Good' if x =='Excellent' else x)
filter_2005['health'] = filter_2005['health'].apply(
    lambda x:'Good' if x =='Excellent' else x)
#2015.status==Dead/Stump => 2015.health=Dead
filter_2015.health[filter_2015['status'].isin(['Stump','Dead'])]='Dead'

In [269]:
zip_tree_cond_1995 = filter_1995[filter_1995['health'].isin(['Dead','Good','Poor'])].groupby(['zipcode','health']).agg({
    'tree_id':'count'
}).reset_index().sort_values(['zipcode','health'],ascending=[True,True])

zip_tree_cond_2005 = filter_2005[filter_2005['health'].isin(['Dead','Good','Poor'])].groupby(['zipcode','health']).agg({
    'tree_id':'count'
}).reset_index().sort_values(['zipcode','health'],ascending=[True,True])

zip_tree_cond_2015 = filter_2015[filter_2015['health'].isin(['Dead','Good','Poor'])].groupby(['zipcode','health']).agg({
    'tree_id':'count'
}).reset_index().sort_values(['zipcode','health'],ascending=[True,True])

In [271]:
zip_tree_cond_1995[
    zip_tree_cond_1995['zipcode']==10001].health.values

array(['Dead', 'Good', 'Poor'], dtype=object)

In [280]:
print('1995: 10001 tree condition:')
for i in range(0,3):
    print(zip_tree_cond_1995[
        zip_tree_cond_1995['zipcode']==10001].health.values[i],
          zip_tree_cond_1995[
              zip_tree_cond_1995['zipcode']==10001].tree_id.values[i],
         zip_tree_cond_1995[
              zip_tree_cond_1995['zipcode']==10001].tree_id.values[i]
          /zip_tree_count_1995[zip_tree_count_1995['zipcode']==10001].tree_id.values[0]*100)

print('\n2005: 10001 tree condition:')
for i in range(0,3):
    print(zip_tree_cond_2005[
        zip_tree_cond_2005['zipcode']==10001].health.values[i],
          zip_tree_cond_2005[
              zip_tree_cond_2005['zipcode']==10001].tree_id.values[i],
            zip_tree_cond_2005[
              zip_tree_cond_2005['zipcode']==10001].tree_id.values[i]
          /zip_tree_count_2005[zip_tree_count_2005['zipcode']==10001].tree_id.values[0]*100)

    
print('\n2015: 10001 tree condition:')
for i in range(0,3):
    print(zip_tree_cond_2015[
        zip_tree_cond_2015['zipcode']==10001].health.values[i],
          zip_tree_cond_2015[
              zip_tree_cond_2015['zipcode']==10001].tree_id.values[i],
            zip_tree_cond_2015[
              zip_tree_cond_2015['zipcode']==10001].tree_id.values[i]
          /zip_tree_count_2015[zip_tree_count_2015['zipcode']==10001].tree_id.values[0]*100)

1995: 10001 tree condition:
Dead 25 3.1446540880503147
Good 589 74.0880503144654
Poor 92 11.572327044025158

2005: 10001 tree condition:
Dead 17 2.187902187902188
Good 693 89.1891891891892
Poor 67 8.622908622908623

2015: 10001 tree condition:
Dead 61 7.1764705882352935
Good 719 84.58823529411764
Poor 31 3.6470588235294117

In [228]:
filter_1995.health.unique()

array(['Unknown', 'Good', 'Poor', 'Dead', 'Planting Space', 'Shaft',
       'Fair', 'Critical'], dtype=object)

In [227]:
filter_2005.health.unique()

array(['Good', 'Poor', 'Dead'], dtype=object)

In [207]:
filter_2015.health.unique()

array(['Fair', 'Good', 'Poor', nan], dtype=object)

In [231]:
filter_2015.status.unique()

array(['Alive', 'Stump', 'Dead'], dtype=object)

In [233]:
filter_2015[filter_2015.status=='Dead']['health']

57        NaN
196       NaN
209       NaN
266       NaN
285       NaN
         ...
682816    NaN
682823    NaN
683346    NaN
683693    NaN
683698    NaN
Name: health, Length: 13959, dtype: object

In [29]:
set(data_1995.CensusTract_2010.unique()) - set(data_2015['census tract'].unique())

{nan, 1283.0, 23801.0, 23802.0, 61302.0, 64102.0, 65501.0}

In [28]:
set(data_1995.CensusTract_2010.unique()) - set(data_2005['census tract'].unique())

{nan, 61302.0}

In [27]:
set(data_2005['census tract'].unique()) - set(data_2015['census tract'].unique())

{nan, 852.0, 1180.0, 1283.0, 23801.0, 23802.0, 64102.0, 65501.0, 155101.0}

In [41]:
set(data_2015['census tract'].unique()) - set(data_2005['census tract'].unique())

{nan, 793.0, 1210.0}

### Dataset Merge

In [97]:
data_2015 = pd.read_csv('2015_Street_Tree_Census.csv')
data_nyc = pd.read_csv('nyc_income_age_ house_cost.csv')
data_pop = pd.read_csv('nyc_zip_borough_neighborhoods_pop.csv')

In [98]:
data_nyc = data_nyc.dropna()

In [99]:
data_2015 = data_2015.rename(columns={'census tract':'census_tract',
                          'postcode':'zipcode',
                          })
filter_2015 = data_2015[['tree_id','address','borough','zipcode','census_tract',
                        'latitude','longitude','tree_dbh','status','curb_loc',
                        'health','guards', 'sidewalk', 'user_type', 'problems', 
                        'root_stone','root_grate', 'root_other', 'trunk_wire', 
                        'trnk_light', 'trnk_other','brch_light', 'brch_shoe', 
                        'brch_other','spc_latin','spc_common']]
filter_2015 = filter_2015[filter_2015.zipcode != 83]
filter_2015.health[filter_2015['status'].isin(['Stump','Dead'])]='Dead'

In [90]:
filter_2015.groupby('health').agg({
    'tree_id':'count'
})

        tree_id
health
Dead      31612
Fair      96465
Good     527965
Poor      26810

In [100]:
new_2015 = filter_2015[['tree_id','borough','zipcode','latitude','longitude','tree_dbh','spc_common','health']]

In [92]:
new_2015 = new_2015.dropna()

In [101]:
new_2015.shape

(682853, 8)

In [94]:
new_2015.groupby('health').agg({
    'tree_id':'count'
})

        tree_id
health
Dead          1
Fair      96465
Good     527961
Poor      26809

In [121]:
(set(new_2015.zipcode.unique())-set(data_pop.zip.unique())) |(set(new_2015.zipcode.unique())-set(data_nyc.zipcode.unique()))

{10020,
 10048,
 10111,
 10115,
 10128,
 10281,
 11001,
 11005,
 11040,
 11096,
 11249,
 11251,
 11371,
 11430,
 11451}

In [122]:
print(len(new_2015.zipcode.unique()))
print(len(data_nyc.zipcode.unique()))
print(len(data_pop.zip.unique()))

190
180
177

In [102]:
new_2015 = pd.merge(new_2015, data_nyc, on='zipcode',how='inner')
new_2015.shape

(677051, 11)

In [103]:
new_2015 = pd.merge(new_2015, data_pop.drop(columns=['borough']), left_on='zipcode',right_on='zip',how='inner')
new_2015.shape

(675981, 16)

In [104]:
new_2015 = new_2015.drop(columns=['zip'])

In [105]:
new_2015.columns

Index(['tree_id', 'borough', 'zipcode', 'latitude', 'longitude', 'tree_dbh',
       'spc_common', 'health', 'Median_Individual_Income',
       'Median_Resident_Age', 'Median_Monthly_House_Cost', 'post_office',
       'neighborhood', 'population', 'density'],
      dtype='object')

In [106]:
new_2015.isna().any()

tree_id                      False
borough                      False
zipcode                      False
latitude                     False
longitude                    False
tree_dbh                     False
spc_common                    True
health                        True
Median_Individual_Income     False
Median_Resident_Age          False
Median_Monthly_House_Cost    False
post_office                  False
neighborhood                 False
population                   False
density                      False
dtype: bool

In [108]:
# new_2015.to_csv('2015_tree_dead.csv',index=False)
df = df = pd.read_csv('2015_tree_dead.csv')

In [132]:
new_2015.to_csv('2015_tree_zipcond.csv',index=False)

In [351]:
df = pd.read_csv('2015_tree_zipcond.csv')

In [113]:
df = df.dropna(subset=['health'])

In [114]:
df.shape

(675980, 15)

In [353]:
df.columns

Index(['tree_id', 'borough', 'zipcode', 'latitude', 'longitude', 'tree_dbh',
       'spc_common', 'health', 'Median_Individual_Income',
       'Median_Resident_Age', 'Median_Monthly_House_Cost', 'post_office',
       'neighborhood', 'population', 'density', 'family'],
      dtype='object')

In [354]:
df.isna().any()

tree_id                      False
borough                      False
zipcode                      False
latitude                     False
longitude                    False
tree_dbh                     False
spc_common                   False
health                       False
Median_Individual_Income     False
Median_Resident_Age          False
Median_Monthly_House_Cost    False
post_office                  False
neighborhood                 False
population                   False
density                      False
family                       False
dtype: bool

In [304]:
family={}
family['Aceraceae'] = family.get('Aceraceae',list())+list(maple)
family['Rosaceae'] = family.get('Rosaceae',list())+list(cherry)+list(ash)+list(hawthorn)+['Callery pear',
                                                                                  'crab apple',
                                                                                  'purple-leaf plum',
                                                                                  'serviceberry']
family['Fagaceae'] = family.get('Fagaceae',list())+list(oak)+list(beech)+list(chestnut)
family['Pinaceae'] = family.get('Pinaceae',list())+list(pine)+list(spruce)+['American larch',
                                                                    'Douglas-fir',
                                                                    'eastern hemlock']
family['Ulmaceae'] = family.get('Ulmaceae',list())+list(elm)+['Japanese zelkova']
family['Cupressacea'] = family.get('Cupressacea',list())+list(cedar)+list(cypress)
family['Oleaceae'] = family.get('Oleaceae',list())+list(lilac)+['Chinese fringetree']
family['Magnoliaceae'] = family.get('Magnoliaceae',list())+list(magnolia)+['tulip-poplar']
family['Betulaceae'] = family.get('Betulaceae',list())+list(birch)+list(hornbeam)+['European alder',
                                                                         'Turkish hazelnut']
family['Tiliaceae'] = family.get('Tiliaceae',list())+list(linden)
family['Salixaceae'] = family.get('Salixaceae',list())+list(aspen)+['weeping willow',
                                                            'eastern cottonwood']
family['Rutaceae'] = family.get('Rutaceae',list())+['Amur cork tree']
family['Fabaceae'] = family.get('Fabaceae',list())+list(redbud)+list(locust)+['Amur maackia',
                                                                              'Kentucky coffeetree',
                                                                              'Kentucky yellowwood',
                                                                              'Sophora',
                                                                              'mimosa']
family['Styracaceae'] = family.get('Styracaceae',list())+['Japanese snowbell',
                                                          'two-winged silverbell']
family['Platanaceae'] = family.get('Platanaceae',list())+['London planetree']
family['Sapindaceae'] = family.get('Sapindaceae',list())+['Ohio buckeye',
                                                          'boxelder',
                                                          'golden raintree']
family['Moraceae'] = family.get('Moraceae',list())+['Osage-orange',
                                                    'mulberry']
family['Hamamelidaceae'] = family.get('Hamamelidaceae',list())+['Persian ironwood']
family['Cupressaceae'] = family.get('Cupressaceae',list())+['arborvitae',
                                                            'dawn redwood']
family['Juglandaceae'] = family.get('Juglandaceae',list())+['black walnut',
                                                            'pignut hickory']
family['Nyssaceae'] = family.get('Nyssaceae',list())+['blackgum']
family['Bignoniaceae'] = family.get('Bignoniaceae',list())+['catalpa']
family['Cannabaceae'] = family.get('Cannabaceae',list())+['common hackberry']
family['Lythraceae'] = family.get('Lythraceae',list())+['crepe myrtle']
family['Paulowniaceae'] = family.get('Paulowniaceae',list())+['empress tree']
family['Cornaceae'] = family.get('Cornaceae',list())+['flowering dogwood',
                                                      'kousa dogwood',
                                                      'pagoda dogwood']
family['Ginkgoaceae'] = family.get('Ginkgoaceae',list())+['ginkgo']


family['Eucommiaceae'] = family.get('Eucommiaceae',list())+['hardy rubber tree']
family['Aquifoliaceae'] = family.get('Aquifoliaceae',list())+['holly']
family['Cercidiphyllaceae'] = family.get('Cercidiphyllaceae',list())+['katsura tree']
family['Lauraceae'] = family.get('Lauraceae',list())+['sassafras']
family['Anacardiaceae'] = family.get('Anacardiaceae',list())+['smoketree']
family['Altingiaceae'] = family.get('Altingiaceae',list())+['sweetgum']
family['Simaroubaceae'] = family.get('Simaroubaceae',list())+['tree of heaven']

In [318]:
leng=0
for k,v in family.items():
    leng = leng+len(v)

In [319]:
leng

132

In [355]:
len(family)

34

In [321]:
family

{'Aceraceae': ['Shantung maple',
  'crimson king maple',
  'silver maple',
  'sugar maple',
  'black maple',
  'sycamore maple',
  'Amur maple',
  'red maple',
  'paperbark maple',
  'maple',
  'tartar maple',
  'trident maple',
  'hedge maple',
  'Japanese maple',
  'Norway maple'],
 'Rosaceae': ['black cherry',
  'Cornelian cherry',
  'cherry',
  "'Schubert' chokecherry",
  'ash',
  'green ash',
  'white ash',
  'hawthorn',
  'cockspur hawthorn',
  'Callery pear',
  'crab apple',
  'purple-leaf plum',
  'serviceberry'],
 'Fagaceae': ['northern red oak',
  'pin oak',
  'English oak',
  'swamp white oak',
  'bur oak',
  'white oak',
  'black oak',
  'sawtooth oak',
  'willow oak',
  "Schumard's oak",
  'scarlet oak',
  'shingle oak',
  'southern red oak',
  'European beech',
  'American beech',
  'red horse chestnut',
  'horse chestnut',
  'Chinese chestnut'],
 'Pinaceae': ['red pine',
  'Virginia pine',
  'pitch pine',
  'pine',
  'black pine',
  'white pine',
  'Scots pine',
  'blue spruce',
  'spruce',
  'Norway spruce',
  'American larch',
  'Douglas-fir',
  'eastern hemlock'],
 'Ulmaceae': ['Siberian elm',
  'Chinese elm',
  'American elm',
  'Japanese zelkova'],
 'Cupressacea': ['Atlantic white cedar',
  'eastern redcedar',
  'Himalayan cedar',
  'Atlas cedar',
  'bald cypress',
  'pond cypress',
  'false cypress'],
 'Oleaceae': ['Chinese tree lilac',
  'Japanese tree lilac',
  'Chinese fringetree'],
 'Magnoliaceae': ['southern magnolia',
  'cucumber magnolia',
  'magnolia',
  'tulip-poplar'],
 'Betulaceae': ['river birch',
  'paper birch',
  'silver birch',
  'American hophornbeam',
  'European hornbeam',
  'American hornbeam',
  'Japanese hornbeam',
  'European alder',
  'Turkish hazelnut'],
 'Tiliaceae': ['littleleaf linden', 'silver linden', 'American linden'],
 'Salixaceae': ['bigtooth aspen',
  'quaking aspen',
  'weeping willow',
  'eastern cottonwood'],
 'Rutaceae': ['Amur cork tree'],
 'Fabaceae': ['eastern redbud',
  'Oklahoma redbud',
  'honeylocust',
  'black locust',
  'Amur maackia',
  'Kentucky coffeetree',
  'Kentucky yellowwood',
  'Sophora',
  'mimosa'],
 'Styracaceae': ['Japanese snowbell', 'two-winged silverbell'],
 'Platanaceae': ['London planetree'],
 'Sapindaceae': ['Ohio buckeye', 'boxelder', 'golden raintree'],
 'Moraceae': ['Osage-orange', 'mulberry'],
 'Hamamelidaceae': ['Persian ironwood'],
 'Cupressaceae': ['arborvitae', 'dawn redwood'],
 'Juglandaceae': ['black walnut', 'pignut hickory'],
 'Nyssaceae': ['blackgum'],
 'Bignoniaceae': ['catalpa'],
 'Cannabaceae': ['common hackberry'],
 'Lythraceae': ['crepe myrtle'],
 'Paulowniaceae': ['empress tree'],
 'Cornaceae': ['flowering dogwood', 'kousa dogwood', 'pagoda dogwood'],
 'Ginkgoaceae': ['ginkgo'],
 'Eucommiaceae': ['hardy rubber tree'],
 'Aquifoliaceae': ['holly'],
 'Cercidiphyllaceae': ['katsura tree'],
 'Lauraceae': ['sassafras'],
 'Anacardiaceae': ['smoketree'],
 'Altingiaceae': ['sweetgum'],
 'Simaroubaceae': ['tree of heaven']}

In [120]:
import pickle

In [129]:
with open('tree_family.pkl','wb') as f:
    pickle.dump(family,f)

In [121]:
with open('tree_family.pkl','rb') as f:
    family = pickle.load(f)

In [116]:
new_2015.head()

,tree_id,borough,zipcode,latitude,longitude,tree_dbh,spc_common,health,Median_Individual_Income,Median_Resident_Age,Median_Monthly_House_Cost,post_office,neighborhood,population,density
0,180683,Queens,11375,40.723092,-73.844215,3,red maple,Fair,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707
1,203550,Queens,11375,40.713170,-73.854446,42,London planetree,Good,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707
2,193183,Queens,11375,40.717032,-73.838297,3,Amur maple,Good,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707
3,203577,Queens,11375,40.712480,-73.855020,26,London planetree,Good,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707
4,203386,Queens,11375,40.712641,-73.852138,26,London planetree,Good,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707

In [341]:
[k for k,v in family.items() if 'red maple' in v]

['Aceraceae']

In [122]:
tree_map = {}
for k,v in family.items():
    for item in v:
        tree_map[item]=k

In [123]:
len(tree_map)

132

In [124]:
tree_map[np.nan]=np.nan

In [125]:
new_2015['family'] = new_2015.apply(lambda x: tree_map[x['spc_common']],
                                    axis=1)

In [127]:
new_2015[new_2015['spc_common'].isna()]

,tree_id,borough,zipcode,latitude,longitude,tree_dbh,spc_common,health,Median_Individual_Income,Median_Resident_Age,Median_Monthly_House_Cost,post_office,neighborhood,population,density,family
21,179748,Queens,11375,40.721514,-73.836307,20,NaN,Dead,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707,NaN
25,180619,Queens,11375,40.725300,-73.839376,0,NaN,Dead,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707,NaN
64,193184,Queens,11375,40.717028,-73.838292,4,NaN,Dead,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707,NaN
92,211702,Queens,11375,40.709146,-73.845436,0,NaN,Dead,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707,NaN
93,171766,Queens,11375,40.723721,-73.839180,0,NaN,Dead,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675880,75763,Manhattan,10006,40.708478,-74.012388,4,NaN,Dead,179044.0,33.9,3215.0,"New York, NY",Lower Manhattan,3011,32796,NaN
675881,76128,Manhattan,10006,40.705507,-74.015389,2,NaN,Dead,179044.0,33.9,3215.0,"New York, NY",Lower Manhattan,3011,32796,NaN
675886,76391,Manhattan,10006,40.709133,-74.013974,2,NaN,Dead,179044.0,33.9,3215.0,"New York, NY",Lower Manhattan,3011,32796,NaN
675889,309115,Queens,11109,40.746013,-73.956145,2,NaN,Dead,160625.0,33.8,3225.0,"Long Island City, NY",Long Island City,3523,87802,NaN
675906,411783,Queens,11109,40.745979,-73.956670,4,NaN,Dead,160625.0,33.8,3225.0,"Long Island City, NY",Long Island City,3523,87802,NaN

In [128]:
new_2015.to_csv('2015_tree_dead.csv',index=False)

In [356]:
f=open('311_DPR.json',encoding='utf-8')
json_data=json.load(f)

In [375]:
def filter_by_time(json_data, **kwargs):
    params = kwargs
    for key in params:
        if (json_data.get(key) < params[key][0]) or (json_data.get(key) > params[key][1]):
            return False
    return True

In [378]:
filtered_json = list(filter(lambda x: filter_by_time(x, created_date=['2015-01-01T00:00:00.000',
                                                                      '2016-01-01T00:00:00.000']), json_data))

In [3]:
from pandas.io.json import json_normalize

In [384]:
df_311 = json_normalize(filtered_json)

In [52]:
tree_complaint = pd.read_csv('311_tree.csv')

In [53]:
tree_complaint.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,29609033,01/01/2015 01:06:43 AM,01/20/2015 09:19:14 AM,DPR,Department of Parks and Recreation,Illegal Tree Damage,Branches Damaged,NaN,11417.0,133-03 96TH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.675899,-73.840548,"(40.67589932499094, -73.84054778848972)"
1,29614686,01/01/2015 09:22:49 AM,11/10/2015 09:55:56 AM,DPR,Department of Parks and Recreation,New Tree Request,For One Address,NaN,11230.0,325 AVENUE M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.616744,-73.971653,"(40.616743691060684, -73.97165262290905)"
2,29617258,01/01/2015 10:21:32 AM,01/28/2015 08:28:33 AM,DPR,Department of Parks and Recreation,Damaged Tree,Branch Cracked and Will Fall,Street,11423.0,192-63 HOLLIS AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.707703,-73.765019,"(40.70770262096205, -73.76501943349744)"
3,29616438,01/01/2015 11:08:14 AM,NaN,DPR,Department of Parks and Recreation,New Tree Request,For One Address,NaN,11225.0,2111 BEEKMAN PL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.660221,-73.961311,"(40.66022084056072, -73.96131142741272)"
4,29618437,01/01/2015 11:56:20 AM,11/10/2015 08:44:41 AM,DPR,Department of Parks and Recreation,New Tree Request,For One Address,Street,11215.0,837 UNION STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.674822,-73.976358,"(40.67482164349205, -73.9763578163367)"

In [54]:
tree_complaint = tree_complaint.dropna(subset=['Incident Zip'])

In [68]:
sorted(tree_complaint['Incident Zip'].unique())

[24.0,
 83.0,
 10001.0,
 10002.0,
 10003.0,
 10004.0,
 10005.0,
 10006.0,
 10007.0,
 10009.0,
 10010.0,
 10011.0,
 10012.0,
 10013.0,
 10014.0,
 10016.0,
 10017.0,
 10018.0,
 10019.0,
 10021.0,
 10022.0,
 10023.0,
 10024.0,
 10025.0,
 10026.0,
 10027.0,
 10028.0,
 10029.0,
 10030.0,
 10031.0,
 10032.0,
 10033.0,
 10034.0,
 10035.0,
 10036.0,
 10037.0,
 10038.0,
 10039.0,
 10040.0,
 10044.0,
 10065.0,
 10069.0,
 10075.0,
 10107.0,
 10128.0,
 10162.0,
 10280.0,
 10282.0,
 10301.0,
 10302.0,
 10303.0,
 10304.0,
 10305.0,
 10306.0,
 10307.0,
 10308.0,
 10309.0,
 10310.0,
 10312.0,
 10314.0,
 10451.0,
 10452.0,
 10453.0,
 10454.0,
 10455.0,
 10456.0,
 10457.0,
 10458.0,
 10459.0,
 10460.0,
 10461.0,
 10462.0,
 10463.0,
 10464.0,
 10465.0,
 10466.0,
 10467.0,
 10468.0,
 10469.0,
 10470.0,
 10471.0,
 10472.0,
 10473.0,
 10474.0,
 10475.0,
 10701.0,
 10803.0,
 11001.0,
 11004.0,
 11040.0,
 11101.0,
 11102.0,
 11103.0,
 11104.0,
 11105.0,
 11106.0,
 11109.0,
 11201.0,
 11203.0,
 11204.0,
 11205.0,
 11206.0,
 11207.0,
 11208.0,
 11209.0,
 11210.0,
 11211.0,
 11212.0,
 11213.0,
 11214.0,
 11215.0,
 11216.0,
 11217.0,
 11218.0,
 11219.0,
 11220.0,
 11221.0,
 11222.0,
 11223.0,
 11224.0,
 11225.0,
 11226.0,
 11228.0,
 11229.0,
 11230.0,
 11231.0,
 11232.0,
 11233.0,
 11234.0,
 11235.0,
 11236.0,
 11237.0,
 11238.0,
 11239.0,
 11249.0,
 11354.0,
 11355.0,
 11356.0,
 11357.0,
 11358.0,
 11360.0,
 11361.0,
 11362.0,
 11363.0,
 11364.0,
 11365.0,
 11366.0,
 11367.0,
 11368.0,
 11369.0,
 11370.0,
 11372.0,
 11373.0,
 11374.0,
 11375.0,
 11377.0,
 11378.0,
 11379.0,
 11385.0,
 11411.0,
 11412.0,
 11413.0,
 11414.0,
 11415.0,
 11416.0,
 11417.0,
 11418.0,
 11419.0,
 11420.0,
 11421.0,
 11422.0,
 11423.0,
 11426.0,
 11427.0,
 11428.0,
 11429.0,
 11432.0,
 11433.0,
 11434.0,
 11435.0,
 11436.0,
 11691.0,
 11692.0,
 11693.0,
 11694.0,
 12222.0]

In [55]:
tree_complaint['Created Day'] = tree_complaint.apply(lambda x: x['Created Date'][:10],axis=1)
tree_complaint['Created Day'] = pd.to_datetime(tree_complaint['Created Day'])

In [56]:
tree_complaint.shape

(60964, 42)

In [57]:
tree_complaint['Complaint Type'].unique()

array(['Illegal Tree Damage', 'New Tree Request', 'Damaged Tree',
       'Overgrown Tree/Branches', 'Dead Tree'], dtype=object)

In [58]:
tree_complaint['Agency'].unique()

array(['DPR'], dtype=object)

In [59]:
tree_complaint['Created Day'].describe()

count                   60964
unique                    365
top       2015-07-20 00:00:00
freq                      589
first     2015-01-01 00:00:00
last      2015-12-31 00:00:00
Name: Created Day, dtype: object

In [60]:
tree_complaint.to_csv('311_tree_complaint.csv',index=False)

In [61]:
tree_process = pd.read_csv('2015_tree_process.csv')

In [62]:
tree_process.head()

,tree_id,borough,zipcode,latitude,longitude,tree_dbh,spc_common,health,Median_Individual_Income,Median_Resident_Age,Median_Monthly_House_Cost,post_office,neighborhood,population,density,family,health_class,borough_class,tree_class,tree_family_class
0,180683,Queens,11375,40.723092,-73.844215,3,red maple,Fair,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707,Aceraceae,2,1,1.0,0
1,203550,Queens,11375,40.713170,-73.854446,42,London planetree,Good,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707,Platanaceae,1,1,1.0,1
2,193183,Queens,11375,40.717032,-73.838297,3,Amur maple,Good,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707,Aceraceae,1,1,3.0,0
3,203577,Queens,11375,40.712480,-73.855020,26,London planetree,Good,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707,Platanaceae,1,1,1.0,1
4,203386,Queens,11375,40.712641,-73.852138,26,London planetree,Good,84617.0,43.5,1570.0,"Forest Hills, NY",West Central Queens,68733,34707,Platanaceae,1,1,1.0,1

In [73]:
complaint_count = tree_complaint.groupby('Incident Zip').agg({
    'Unique Key':'count'
}).reset_index()

In [80]:
complaint_count = complaint_count.rename(columns={'Unique Key':'comlaint_count'})

In [83]:
tree_process = pd.merge(tree_process,complaint_count,left_on='zipcode',right_on='Incident Zip',how='left').drop(columns=['Incident Zip'])

In [84]:
tree_process.to_csv('2015_tree_process.csv',index=False)

In [85]:
tree_process.head()

,tree_id,borough,zipcode,latitude,longitude,tree_dbh,spc_common,health,Median_Individual_Income,Median_Resident_Age,...,post_office,neighborhood,population,density,family,health_class,borough_class,tree_class,tree_family_class,comlaint_count
0,180683,Queens,11375,40.723092,-73.844215,3,red maple,Fair,84617.0,43.5,...,"Forest Hills, NY",West Central Queens,68733,34707,Aceraceae,2,1,1.0,0,783.0
1,203550,Queens,11375,40.713170,-73.854446,42,London planetree,Good,84617.0,43.5,...,"Forest Hills, NY",West Central Queens,68733,34707,Platanaceae,1,1,1.0,1,783.0
2,193183,Queens,11375,40.717032,-73.838297,3,Amur maple,Good,84617.0,43.5,...,"Forest Hills, NY",West Central Queens,68733,34707,Aceraceae,1,1,3.0,0,783.0
3,203577,Queens,11375,40.712480,-73.855020,26,London planetree,Good,84617.0,43.5,...,"Forest Hills, NY",West Central Queens,68733,34707,Platanaceae,1,1,1.0,1,783.0
4,203386,Queens,11375,40.712641,-73.852138,26,London planetree,Good,84617.0,43.5,...,"Forest Hills, NY",West Central Queens,68733,34707,Platanaceae,1,1,1.0,1,783.0